name: Build

on:
  push:
    branches:
      - master
jobs:
  build-api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: maven # Caches Maven dependencies to speed up subsequent runs

      - name: Build with Maven
        run: mvn --file ./pom.xml clean package -DskipTests

      - name: Build with Maven
        run: mvn clean package -DskipTests # Executes the Maven package goal

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ghcr.io/notilmi/expenseful-server:${{ github.sha }}
            ghcr.io/notilmi/expenseful-server:latest